# Python/Django
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE/editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
.DS_Store
